#root, .app-container, html, body{
    height: 100%;
    margin: 0
}

.app-container{
    display: flex;
    flex-direction: column;
}

.tab-bar{
    display: flex;
    flex-direction: row;
    padding-top: 5px;
}

.tab-bar-button{
    border: 1px solid black;
    padding: 5px;
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
}

.page-container{
    flex-grow: 1;
    overflow-Y: scroll;
    margin-left: 5px;
    margin-right: 5px;    
}
