#root, .app-container, html, body{
    height: 100%;
    margin: 0
}

.app-container{
    display: flex;
    flex-direction: column;
}

.tab-bar{
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    min-height: 10%;
}

.tab-bar-button{
    height: calc(100% - 2px);
    border: 1px solid black;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.tab-bar-button span{
    display:flex;
    justify-content: center;
    align-items: center;
    color: navy;
}

.page-container{
    flex-grow: 1;
    overflow-Y: scroll;
    margin-left: 5px;
    margin-right: 5px;    
}
